html {
    background-color: #F7F6F2;
}

.first-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 450px;
    background-color: #A1BD57;
    z-index: 1;
}

.second-block {
    position: relative;
    margin:auto;
    top: 230px;
    z-index: 2;

    width: 40vw;
    height: 50vh;
    background-color: #FFFFFF;
    border: 5px solid #DAD6CF;
}