html {
    background-color: #18326D;
}

.form {
    display: flex;
    flex-direction: column;

    width: 80%;
    margin: auto;

    background-color: #2B417A;
}

.label__name {
    width: 500px;
    margin: 10px 10px 20px 20px;
    color: #7A98E5;
    text-align: right;
    font-size: 20px;
}

.label__name input {
    width: 60%;
    margin-left: 20px;

    background-color: #182A50;

    color: #FFFFFF;
}

.label__name textarea {
    width: 60%;
    height:100px;
    margin-left: 20px;

    background-color: #182A50;

    color: #FFFFFF;
}

.input__send {
    margin: 10px 0 30px 110px;
    width: 180px;
    height: 60px;
    background-color: #0D1321;

    color: #6D82BB;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}