.table__task {
    margin: auto;

    width: 80%;
    border-collapse: collapse;
}

.table__task thead {
    font-weight: bold;
    text-align: center;
}

.line td{
    border: 1px solid black;
}

.line td:nth-child(3) {
    text-align: center;
}